<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <%- include ('fragments/imports.html') %>

</head>
<body>

<%- include ('fragments/navigation.html') %>

<h1><%=title%></h1>
<h2><%=new Date()%></h2>

</body>
</html>